:root {
  --primary: 255, 255, 255;
  --complimentary: 0, 0, 0;
  --font-mono: 'Source Code Pro', monospace;
  --font-regular: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-regular);
  font-size: 18px;
  text-align: center;
  background-color: rgb(var(--primary));
  color: rgb(var(--complimentary));
  line-height: 1.5em;
}

blockquote {
  padding-left: 1em;
  position: relative;
}

blockquote::before {
  content: ' ';
  position: absolute;
  width: 0.2em;
  height: 100%;
  margin-left: -1em;
  background-color: rgba(var(--complimentary), 0.2);
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 0.9rem;
}

code.inline {
  background-color: rgba(var(--complimentary), 0.1);
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  margin: 0 0.1em;
}
